.actionButton {background-color:#e14013;}
/* style={{backgroundColor:"#e14013" , color:"#FFF"}} */

.MuiStepIcon-root.MuiStepIcon-completed,
.MuiStepIcon-root.MuiStepIcon-active{color:#e14013!important;}


#transparentBackground{background:#f9c9bb!important;}

